.coverImage{
    height:43vh;
}

@media screen and (max-width:600px) {
    .coverImage{
        height:35vh;
    }
}



.buttonGroup{
  width:100%;
  overflow:auto;
  padding: 10px;
}
/* width */
.buttonGroup::-webkit-scrollbar {
  height: 10px;
}

/* Track */
.buttonGroup::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.buttonGroup::-webkit-scrollbar-thumb {
  background: indigo; 
  border-radius: 5px;
}

/* Handle on hover */
.buttonGroup::-webkit-scrollbar-thumb:hover {
  background: grey; 
}


/* CSS */
.button-85 {
  text-align: center;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color:darkslateblue;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(10px);
  -webkit-filter: blur(3px);
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  border-radius: 10px;
}