.coverImage{
    height:43vh;
}

@media screen and (max-width:600px) {
    .coverImage{
        height:35vh;
    }
}



.buttonGroup{
  width:100%;
  overflow:auto;
  padding: 10px;
}
/* width */
.buttonGroup::-webkit-scrollbar {
  height: 10px;
}

/* Track */
.buttonGroup::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.buttonGroup::-webkit-scrollbar-thumb {
  background: indigo; 
  border-radius: 5px;
}

/* Handle on hover */
.buttonGroup::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

